.board {
}
.list {
        width: 80mm;
        float: left;
        padding-right: 2mm;
}
.list--variable_width {
        width: 400mm;
        padding: 0;
}
.list__border {
        border: 1px solid black;
        padding: 2mm;
        height: 350mm;
        overflow: hidden;
}
.list--product {
        width: 78.5mm;
}
.list--product .list__border {
        height: 170mm;
        margin-bottom: 2mm;
}
.list__name {
        font-weight: bold;
        font-size: 6mm;
        text-align: center;
        border-bottom: 1px solid #ccc;
        margin-bottom: 2mm;
}
.list--variable_width .card {
        margin-left: 2mm;
        margin-right: 2mm;
}
.card {
        width: 74.8mm;
        height: 30mm;
        float: left;
        margin-bottom: 2mm;
        background: antiquewhite;
        border: 0.2mm solid #E5CFB0;
}
.card__label {
        width: 15mm;
	height: 4.5mm;
        margin: 1mm;
        float: left;
        color: #fff;
        background: #404040;
        font-size: 3mm;
        text-align: center;
}
.card__users {
        width: 56mm;
        margin: 1mm;
        float: right;
        text-align: right;
}
.card__name {
        padding: 0 1mm 1mm;
        clear: both;
}
.card__desc {
        padding: 1mm;
        clear: both;
        color: #8E8373;
}